img {
    height: 100px;
    width: 150px;
}

.modal {
    text-align: center;
   
  }
  
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
    
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 800px;
    
  }