<h4 class="display-4">Positions</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="Design_Line_ID" #Design_Line_ID="ngModel" [(ngModel)]="formData.Design_Line_ID">
    <input type="hidden"  name="Design_ID" #Design_ID="ngModel" [(ngModel)]="formData.Design_ID">
        
    <div class="form-group">
        <label>Position</label>
        <select name="Template_Position_ID" #Template_Position_ID="ngModel" [(ngModel)]="formData.Template_Position_ID" class="form-control"
        [class.is-invalid]="!isValid && formData.Template_Position_ID==0">
        
          
            <option value="0">-Select-</option>
            <option *ngFor="let item of posList" value="{{item.Template_Position_ID}}">{{item.Template_Position_ID}}</option>
           
        </select>
    </div>
    <div class="form-group">
        <label>Job Type</label>
        <select name="Job_Type_ID" #Job_Type_ID="ngModel" [(ngModel)]="formData.Job_Type_ID" class="form-control"
        [class.is-invalid]="!isValid && formData.Job_Type_ID==0">
            <option value="0">-Select-</option>
            <option *ngFor="let item of jobList" value="{{item.Job_Type_ID}}">{{item.Description}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Text</label>
        <input type="text" name="Text" #Text="ngModel" [(ngModel)]="formData.Text" class="form-control">cm
    </div>
  

    <div class="row">
    <div class="form-group col-6">
        <label>Width</label>
        <input type="number" name="Width" #Width="ngModel" [(ngModel)]="formData.Width" class="form-control"
        [class.is-invalid]="!isValid && formData.Width==0"
       >cm
    </div>
    <div class="form-group col-6">
        <label>Height</label>
        <input type="number" name="Height" #Height="ngModel" [(ngModel)]="formData.Height" class="form-control"
        [class.is-invalid]="!isValid && formData.Height==0"
        >cm
    </div>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text" name="Image" #Image="ngModel" [(ngModel)]="formData.Image" class="form-control">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
       
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>Close</button>
    </div>
</form>
