USE [master]
GO
/****** Object:  Database [KIMODB]    Script Date: 2020/10/14 01:27:56 ******/
CREATE DATABASE [KIMODB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KIMODB_Data', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KIMODB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KIMODB_Log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KIMODB.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KIMODB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KIMODB]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Company_ID] [int] NOT NULL,
	[Name] [nchar](50) NULL,
	[Address] [nchar](50) NULL,
	[Contact_Number] [nchar](10) NULL,
	[Email_Address] [nchar](50) NULL,
	[Telephone_Number] [nchar](10) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NULL,
	[Contact_Number] [varchar](50) NULL,
	[Email_Address] [varchar](50) NULL,
	[UserID] [int] NULL,
	[Address_ID] [int] NULL,
	[OTP] [varchar](50) NULL,
	[verified] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Order]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Order](
	[Customer_Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Order_Date] [datetime] NULL,
	[Order_Total] [decimal](18, 2) NULL,
	[OrderStatus_ID] [int] NULL,
 CONSTRAINT [PK_Customer_Order] PRIMARY KEY CLUSTERED 
(
	[Customer_Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Order_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Order_Line](
	[Customer_Order_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Order_ID] [int] NULL,
	[Quotation_Line_ID] [int] NULL,
	[Description] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](12, 2) NULL,
	[Total] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Customer_Order_Line] PRIMARY KEY CLUSTERED 
(
	[Customer_Order_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[Delivery_ID] [int] IDENTITY(1,1) NOT NULL,
	[Address_ID] [int] NULL,
	[Customer_Order_ID] [int] NULL,
	[Date] [date] NULL,
	[OrderStatus_ID] [int] NULL,
 CONSTRAINT [PK_Delivery1] PRIMARY KEY CLUSTERED 
(
	[Delivery_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery_Address]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[StreetNumber] [int] NULL,
	[StreetName] [varchar](150) NULL,
	[Postal_Code] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
 CONSTRAINT [PK_Delivery_Address] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Design]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Design](
	[Design_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Type_ID] [int] NULL,
	[Design_Name] [varchar](50) NULL,
	[Additional_Instructions] [varchar](max) NULL,
	[Customer_ID] [int] NULL,
	[Date_Created] [date] NULL,
 CONSTRAINT [PK_Design] PRIMARY KEY CLUSTERED 
(
	[Design_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Design_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Design_Line](
	[Design_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Design_ID] [int] NULL,
	[Template_Position_ID] [int] NULL,
	[Job_Type_ID] [int] NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Image] [varchar](max) NULL,
	[Text] [varchar](max) NULL,
 CONSTRAINT [PK_Design_Line] PRIMARY KEY CLUSTERED 
(
	[Design_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Cell_Number] [nchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Type]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Type](
	[Job_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Job_Type] PRIMARY KEY CLUSTERED 
(
	[Job_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[OrderStatus_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Order_Status] PRIMARY KEY CLUSTERED 
(
	[OrderStatus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [varchar](100) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission_Line](
	[PermissionLineID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionID] [int] NULL,
	[UserRoleID] [int] NULL,
 CONSTRAINT [PK_Permission_Line] PRIMARY KEY CLUSTERED 
(
	[PermissionLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Position_ID] [int] IDENTITY(1,1) NOT NULL,
	[Position_Number] [int] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Position_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Category]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Category](
	[Product_Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Product_Category] PRIMARY KEY CLUSTERED 
(
	[Product_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Size]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Size](
	[Product_Size_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Product_Size] PRIMARY KEY CLUSTERED 
(
	[Product_Size_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Type]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Type](
	[Product_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Category_ID] [int] NULL,
	[Template_ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[ImageString] [varchar](max) NULL,
 CONSTRAINT [PK_Product_Type.] PRIMARY KEY CLUSTERED 
(
	[Product_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Province_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Province_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation](
	[Quotation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Date] [date] NULL,
	[Additional_Notes] [varchar](max) NULL,
	[Quotation_Status_ID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Quotation] PRIMARY KEY CLUSTERED 
(
	[Quotation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation_Line](
	[Quotation_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Quotation_ID] [int] NULL,
	[Request_Line_ID] [int] NULL,
	[Description] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Quotation_Line] PRIMARY KEY CLUSTERED 
(
	[Quotation_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation_Request]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation_Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Quotation_Request] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation_Request_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation_Request_Line](
	[Request_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Request_ID] [int] NULL,
	[Design_ID] [int] NULL,
	[Product_Size_ID] [int] NULL,
	[Colour] [varchar](50) NULL,
	[Web_Link_ID] [int] NULL,
	[Product_Code] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Product_Type_ID] [int] NULL,
 CONSTRAINT [PK_Quotation_Request_Line] PRIMARY KEY CLUSTERED 
(
	[Request_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation-Status]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation-Status](
	[Quotation_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NULL,
 CONSTRAINT [PK_Quotation-Status] PRIMARY KEY CLUSTERED 
(
	[Quotation_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Customer_Order]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Customer_Order](
	[Return_Customer_Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](12, 2) NULL,
	[Date] [date] NULL,
	[Reason] [varchar](max) NULL,
	[Product] [varchar](50) NULL,
 CONSTRAINT [PK_Return_Customer_Order] PRIMARY KEY CLUSTERED 
(
	[Return_Customer_Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Customer_Order_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Customer_Order_Line](
	[Return_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Return_Customer_Order_ID] [int] NULL,
	[Customer_Order_ID] [int] NULL,
 CONSTRAINT [PK_Return_Customer_Order_Line] PRIMARY KEY CLUSTERED 
(
	[Return_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Supplier_ID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_Name] [varchar](50) NULL,
	[Contact_Number] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Web_Link_ID] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order](
	[Supplier_Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_ID] [int] NULL,
	[Supplier_Order_Status_ID] [int] NULL,
	[Quotation_ID] [int] NULL,
	[Date] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Supplier_Order] PRIMARY KEY CLUSTERED 
(
	[Supplier_Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order_Line]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order_Line](
	[Supplier_Order_Line_ID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_Order_ID] [int] NULL,
	[Product_Type_ID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Supplier_Order_Line] PRIMARY KEY CLUSTERED 
(
	[Supplier_Order_Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order_Status]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order_Status](
	[Supplier_Order_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [char](50) NULL,
 CONSTRAINT [PK_Supplier_Order_Status] PRIMARY KEY CLUSTERED 
(
	[Supplier_Order_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[Template_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ImagePath] [varchar](max) NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_Position]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_Position](
	[Template_Position_ID] [int] IDENTITY(1,1) NOT NULL,
	[Position_ID] [int] NULL,
	[Template_ID] [int] NULL,
 CONSTRAINT [PK_Template_Position] PRIMARY KEY CLUSTERED 
(
	[Template_Position_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleID] [int] NULL,
	[UserPassword] [varchar](65) NULL,
	[UserName] [varchar](20) NULL,
	[UserPasswordChangeRequest] [bit] NULL,
	[ResetOTP] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleDescription] [varchar](50) NULL,
	[UserRoleName] [varchar](50) NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Web_Link]    Script Date: 2020/10/14 01:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web_Link](
	[Web_Link_ID] [int] IDENTITY(1,1) NOT NULL,
	[Web_Name] [varchar](50) NOT NULL,
	[Web_Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Web_Link] PRIMARY KEY CLUSTERED 
(
	[Web_Link_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Company] ([Company_ID], [Name], [Address], [Contact_Number], [Email_Address], [Telephone_Number]) VALUES (1, N'KIMOsource                                        ', N'786 Jan Shoba, Brooklyn                           ', N'0824518711', N'info@kimo.co.za                                   ', N'0127516686')
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Customer_ID], [First_Name], [Last_Name], [Contact_Number], [Email_Address], [UserID], [Address_ID], [OTP], [verified]) VALUES (0, N'cc                                                ', N'cc                                                ', N'cc        ', N'cc                                                ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([Customer_ID], [First_Name], [Last_Name], [Contact_Number], [Email_Address], [UserID], [Address_ID], [OTP], [verified]) VALUES (1, N'Portia                                            ', N'Biyela                                            ', N'0832614815', N'portiakarim100@gmail.com                          ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([Customer_ID], [First_Name], [Last_Name], [Contact_Number], [Email_Address], [UserID], [Address_ID], [OTP], [verified]) VALUES (2, N'Nadia                                             ', N'Smith                                             ', N'0811011030', N'NADIA@up.ac.za                                    ', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Order] ON 

INSERT [dbo].[Customer_Order] ([Customer_Order_ID], [Customer_ID], [Order_Date], [Order_Total], [OrderStatus_ID]) VALUES (1, 1, CAST(N'2020-10-12T00:00:00.000' AS DateTime), CAST(500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Customer_Order] ([Customer_Order_ID], [Customer_ID], [Order_Date], [Order_Total], [OrderStatus_ID]) VALUES (6, 5, CAST(N'2020-10-14T00:00:00.000' AS DateTime), CAST(21.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[Customer_Order] ([Customer_Order_ID], [Customer_ID], [Order_Date], [Order_Total], [OrderStatus_ID]) VALUES (7, 5, CAST(N'2020-09-09T00:00:00.000' AS DateTime), CAST(20.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Customer_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Order_Line] ON 

INSERT [dbo].[Customer_Order_Line] ([Customer_Order_Line_ID], [Customer_Order_ID], [Quotation_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (1, 1, 17, N'Tshirt', 5, CAST(100.00 AS Decimal(12, 2)), CAST(500.00 AS Decimal(12, 2)))
INSERT [dbo].[Customer_Order_Line] ([Customer_Order_Line_ID], [Customer_Order_ID], [Quotation_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (2, 6, 16, N'Hoodie', 10, CAST(200.00 AS Decimal(12, 2)), CAST(600.00 AS Decimal(12, 2)))
INSERT [dbo].[Customer_Order_Line] ([Customer_Order_Line_ID], [Customer_Order_ID], [Quotation_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (3, 7, 15, N'Scarf', 2, CAST(300.00 AS Decimal(12, 2)), CAST(700.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Customer_Order_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery_Address] ON 

INSERT [dbo].[Delivery_Address] ([Address_ID], [StreetNumber], [StreetName], [Postal_Code], [Province]) VALUES (1, NULL, NULL, N'0001      ', NULL)
INSERT [dbo].[Delivery_Address] ([Address_ID], [StreetNumber], [StreetName], [Postal_Code], [Province]) VALUES (2, 32, N'yellow wood drive', N'0002', N'Kwazulu Natal')
INSERT [dbo].[Delivery_Address] ([Address_ID], [StreetNumber], [StreetName], [Postal_Code], [Province]) VALUES (3, 1, N'Yoletha', N'0003', N'Kwazulu Natal')
SET IDENTITY_INSERT [dbo].[Delivery_Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Design] ON 

INSERT [dbo].[Design] ([Design_ID], [Product_Type_ID], [Design_Name], [Additional_Instructions], [Customer_ID], [Date_Created]) VALUES (20, 1, N'sd', N'dss', 6, CAST(N'2020-10-03' AS Date))
INSERT [dbo].[Design] ([Design_ID], [Product_Type_ID], [Design_Name], [Additional_Instructions], [Customer_ID], [Date_Created]) VALUES (24, 1, N'dss', N'Hi', 6, CAST(N'2020-10-03' AS Date))
INSERT [dbo].[Design] ([Design_ID], [Product_Type_ID], [Design_Name], [Additional_Instructions], [Customer_ID], [Date_Created]) VALUES (27, 1, N'dsd', N'Print in white.', 6, CAST(N'2020-10-03' AS Date))
SET IDENTITY_INSERT [dbo].[Design] OFF
GO
SET IDENTITY_INSERT [dbo].[Design_Line] ON 

INSERT [dbo].[Design_Line] ([Design_Line_ID], [Design_ID], [Template_Position_ID], [Job_Type_ID], [Width], [Height], [Image], [Text]) VALUES (22, 20, 2, 1, 2, 2, NULL, N'dfghg')
INSERT [dbo].[Design_Line] ([Design_Line_ID], [Design_ID], [Template_Position_ID], [Job_Type_ID], [Width], [Height], [Image], [Text]) VALUES (98, 56, 2, 2, 2, 2, N'', N'hey')
INSERT [dbo].[Design_Line] ([Design_Line_ID], [Design_ID], [Template_Position_ID], [Job_Type_ID], [Width], [Height], [Image], [Text]) VALUES (104, 61, 3, 3, 2, 2, N'', N'testing')
SET IDENTITY_INSERT [dbo].[Design_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Employee_ID], [UserID], [Name], [Surname], [Cell_Number], [Email], [Address]) VALUES (1, NULL, N'Stephan                                           ', N'Schoombie                                         ', N'0824518711', N'Stephan@kimo.co.za                                ', N'6                                                 ')
INSERT [dbo].[Employee] ([Employee_ID], [UserID], [Name], [Surname], [Cell_Number], [Email], [Address]) VALUES (2, NULL, N'Thabo                                             ', N'Malake                                            ', N'0837376885', N'Thabo@kimo.co.za                                  ', N'7                                                 ')
INSERT [dbo].[Employee] ([Employee_ID], [UserID], [Name], [Surname], [Cell_Number], [Email], [Address]) VALUES (3, NULL, N'Emily                                             ', N'Galain                                            ', N'0794528052', N'Emily@kimo.co.za                                  ', N'8                                                 ')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Type] ON 

INSERT [dbo].[Job_Type] ([Job_Type_ID], [Description]) VALUES (1, N'Embroidery')
INSERT [dbo].[Job_Type] ([Job_Type_ID], [Description]) VALUES (2, N'Screen Print')
INSERT [dbo].[Job_Type] ([Job_Type_ID], [Description]) VALUES (3, N'Engraving')
SET IDENTITY_INSERT [dbo].[Job_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Status] ON 

INSERT [dbo].[Order_Status] ([OrderStatus_ID], [Description]) VALUES (1, N'Placed                                            ')
INSERT [dbo].[Order_Status] ([OrderStatus_ID], [Description]) VALUES (2, N'Collected                                         ')
INSERT [dbo].[Order_Status] ([OrderStatus_ID], [Description]) VALUES (3, N'Sent to Delivery                                  ')
SET IDENTITY_INSERT [dbo].[Order_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Position_ID], [Position_Number]) VALUES (1, 1)
INSERT [dbo].[Position] ([Position_ID], [Position_Number]) VALUES (2, 2)
INSERT [dbo].[Position] ([Position_ID], [Position_Number]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Category] ON 

INSERT [dbo].[Product_Category] ([Product_Category_ID], [Description]) VALUES (1, N'Clothing                                          ')
INSERT [dbo].[Product_Category] ([Product_Category_ID], [Description]) VALUES (3, N'Bags                                              ')
INSERT [dbo].[Product_Category] ([Product_Category_ID], [Description]) VALUES (4, N'Headwear                                          ')
SET IDENTITY_INSERT [dbo].[Product_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Size] ON 

INSERT [dbo].[Product_Size] ([Product_Size_ID], [Description]) VALUES (1, N'Small')
INSERT [dbo].[Product_Size] ([Product_Size_ID], [Description]) VALUES (2, N'Medium')
INSERT [dbo].[Product_Size] ([Product_Size_ID], [Description]) VALUES (3, N'Large')
SET IDENTITY_INSERT [dbo].[Product_Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Type] ON 

SET IDENTITY_INSERT [dbo].[Product_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Province_ID], [Name]) VALUES (1, N'Gauteng                                           ')
INSERT [dbo].[Province] ([Province_ID], [Name]) VALUES (2, N'Limpopo                                           ')
INSERT [dbo].[Province] ([Province_ID], [Name]) VALUES (3, N'Mpumalanga                                        ')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotation] ON 

INSERT [dbo].[Quotation] ([Quotation_ID], [Customer_ID], [Date], [Additional_Notes], [Quotation_Status_ID], [Amount]) VALUES (1, NULL, CAST(N'2020-02-10' AS Date), N'Make the thread in grey', NULL, NULL)
INSERT [dbo].[Quotation] ([Quotation_ID], [Customer_ID], [Date], [Additional_Notes], [Quotation_Status_ID], [Amount]) VALUES (2, NULL, CAST(N'2020-03-10' AS Date), N'Make the print red', NULL, NULL)
INSERT [dbo].[Quotation] ([Quotation_ID], [Customer_ID], [Date], [Additional_Notes], [Quotation_Status_ID], [Amount]) VALUES (3, NULL, CAST(N'2020-09-06' AS Date), N'd', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Quotation] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotation_Line] ON 

INSERT [dbo].[Quotation_Line] ([Quotation_Line_ID], [Quotation_ID], [Request_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (1, 1, NULL, NULL, NULL, CAST(500.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Quotation_Line] ([Quotation_Line_ID], [Quotation_ID], [Request_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (2, 2, NULL, NULL, NULL, CAST(1000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Quotation_Line] ([Quotation_Line_ID], [Quotation_ID], [Request_Line_ID], [Description], [Quantity], [Price], [Total]) VALUES (3, 3, NULL, N'hdjf', 1, CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Quotation_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotation_Request] ON 

INSERT [dbo].[Quotation_Request] ([Request_ID], [Customer_ID], [Date]) VALUES (21, 6, CAST(N'2020-09-22' AS Date))
INSERT [dbo].[Quotation_Request] ([Request_ID], [Customer_ID], [Date]) VALUES (22, 6, CAST(N'2020-09-22' AS Date))
INSERT [dbo].[Quotation_Request] ([Request_ID], [Customer_ID], [Date]) VALUES (23, 3, CAST(N'2020-10-03' AS Date))
SET IDENTITY_INSERT [dbo].[Quotation_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotation_Request_Line] ON 

INSERT [dbo].[Quotation_Request_Line] ([Request_Line_ID], [Request_ID], [Design_ID], [Product_Size_ID], [Colour], [Web_Link_ID], [Product_Code], [Quantity], [Product_Type_ID]) VALUES (18, NULL, 24, NULL, NULL, NULL, NULL, 6, NULL)
INSERT [dbo].[Quotation_Request_Line] ([Request_Line_ID], [Request_ID], [Design_ID], [Product_Size_ID], [Colour], [Web_Link_ID], [Product_Code], [Quantity], [Product_Type_ID]) VALUES (19, 21, 27, 1, N'Blue', 1, N'HJU893J', 10, NULL)
INSERT [dbo].[Quotation_Request_Line] ([Request_Line_ID], [Request_ID], [Design_ID], [Product_Size_ID], [Colour], [Web_Link_ID], [Product_Code], [Quantity], [Product_Type_ID]) VALUES (21, 22, 27, 2, N'Red', 2, N'JJJIHJ555II', 5, NULL)
SET IDENTITY_INSERT [dbo].[Quotation_Request_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotation-Status] ON 

INSERT [dbo].[Quotation-Status] ([Quotation_Status_ID], [Description]) VALUES (1, N'Accepted            ')
INSERT [dbo].[Quotation-Status] ([Quotation_Status_ID], [Description]) VALUES (2, N'Expired             ')
INSERT [dbo].[Quotation-Status] ([Quotation_Status_ID], [Description]) VALUES (3, N'Sent                ')
SET IDENTITY_INSERT [dbo].[Quotation-Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Return_Customer_Order] ON 

INSERT [dbo].[Return_Customer_Order] ([Return_Customer_Order_ID], [Price], [Date], [Reason], [Product]) VALUES (1, CAST(650.00 AS Decimal(12, 2)), CAST(N'2020-02-15' AS Date), N'Shirts are the wrong colour                                                                                                                                                                                                                                     ', N'Basketball Cap')
INSERT [dbo].[Return_Customer_Order] ([Return_Customer_Order_ID], [Price], [Date], [Reason], [Product]) VALUES (2, CAST(500.00 AS Decimal(12, 2)), CAST(N'2020-02-25' AS Date), N'Not good quality                                                                                                                                                                                                                                                ', N'Ladies Golf Shirt')
SET IDENTITY_INSERT [dbo].[Return_Customer_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Return_Customer_Order_Line] ON 

INSERT [dbo].[Return_Customer_Order_Line] ([Return_Line_ID], [Return_Customer_Order_ID], [Customer_Order_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Return_Customer_Order_Line] ([Return_Line_ID], [Return_Customer_Order_ID], [Customer_Order_ID]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[Return_Customer_Order_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Supplier_ID], [Supplier_Name], [Contact_Number], [Email], [Address], [Web_Link_ID]) VALUES (1, N'BCGShop   ', N'0824518711', N'info@kimo.co.za                                   ', NULL, 1)
INSERT [dbo].[Supplier] ([Supplier_ID], [Supplier_Name], [Contact_Number], [Email], [Address], [Web_Link_ID]) VALUES (2, N'Proactive ', N'0116082630', N'info@proactive.co.za                              ', NULL, 2)
INSERT [dbo].[Supplier] ([Supplier_ID], [Supplier_Name], [Contact_Number], [Email], [Address], [Web_Link_ID]) VALUES (3, N'GiftsSA   ', N'0114258956', N'infp@gifts.co.za                                  ', NULL, 3)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier_Order] ON 

INSERT [dbo].[Supplier_Order] ([Supplier_Order_ID], [Supplier_ID], [Supplier_Order_Status_ID], [Quotation_ID], [Date], [Amount]) VALUES (1, 1, 1, NULL, CAST(N'2020-02-10' AS Date), CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Supplier_Order] ([Supplier_Order_ID], [Supplier_ID], [Supplier_Order_Status_ID], [Quotation_ID], [Date], [Amount]) VALUES (2, 2, 2, NULL, CAST(N'2020-03-10' AS Date), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[Supplier_Order] ([Supplier_Order_ID], [Supplier_ID], [Supplier_Order_Status_ID], [Quotation_ID], [Date], [Amount]) VALUES (3, 1, 1, 1, CAST(N'2020-03-10' AS Date), CAST(300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Supplier_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier_Order_Status] ON 

INSERT [dbo].[Supplier_Order_Status] ([Supplier_Order_Status_ID], [Description]) VALUES (1, N'Order Placed                                      ')
INSERT [dbo].[Supplier_Order_Status] ([Supplier_Order_Status_ID], [Description]) VALUES (2, N'Order Received                                    ')
SET IDENTITY_INSERT [dbo].[Supplier_Order_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Template] ON 

INSERT [dbo].[Template] ([Template_ID], [Name], [ImagePath]) VALUES (1, N'Shirt               ', NULL)
INSERT [dbo].[Template] ([Template_ID], [Name], [ImagePath]) VALUES (2, N'BackPack            ', NULL)
INSERT [dbo].[Template] ([Template_ID], [Name], [ImagePath]) VALUES (3, N'bag                 ', N'nhkrhmj')
SET IDENTITY_INSERT [dbo].[Template] OFF
GO
SET IDENTITY_INSERT [dbo].[Template_Position] ON 

INSERT [dbo].[Template_Position] ([Template_Position_ID], [Position_ID], [Template_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Template_Position] ([Template_Position_ID], [Position_ID], [Template_ID]) VALUES (2, 2, 1)
INSERT [dbo].[Template_Position] ([Template_Position_ID], [Position_ID], [Template_ID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[Template_Position] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserRoleID], [UserPassword], [UserName], [UserPasswordChangeRequest], [ResetOTP]) VALUES (1, 1, N'34430887ad3d7e99c811342e12f40e44b081d49c0f6268cf2fb678b8f4d6be1c', N'Tshidi', 0, NULL)
INSERT [dbo].[User] ([UserID], [UserRoleID], [UserPassword], [UserName], [UserPasswordChangeRequest], [ResetOTP]) VALUES (2, 1, N'2a01ab4d92d218ec7510708462f0315a9b962ef2ba5e0004df5944778d7b0516', N'Yoletha', 0, NULL)
INSERT [dbo].[User] ([UserID], [UserRoleID], [UserPassword], [UserName], [UserPasswordChangeRequest], [ResetOTP]) VALUES (3, 1, N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Portia', 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Role] ON 

INSERT [dbo].[User_Role] ([UserRoleID], [UserRoleDescription], [UserRoleName]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[User_Role] ([UserRoleID], [UserRoleDescription], [UserRoleName]) VALUES (2, N'Customer', N'Customer')
SET IDENTITY_INSERT [dbo].[User_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Web_Link] ON 

INSERT [dbo].[Web_Link] ([Web_Link_ID], [Web_Name], [Web_Address]) VALUES (1, N'BCGShopLink         ', N'https://kimosource.bcgshop.co.za/                 ')
INSERT [dbo].[Web_Link] ([Web_Link_ID], [Web_Name], [Web_Address]) VALUES (2, N'ProactiveLink       ', N'https://www.proactiveclothing.com/                ')
INSERT [dbo].[Web_Link] ([Web_Link_ID], [Web_Name], [Web_Address]) VALUES (3, N'GiftsLink           ', N'https://www.giftssa.co.za/                        ')
SET IDENTITY_INSERT [dbo].[Web_Link] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Customer_Order]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Order_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Customer_Order] CHECK CONSTRAINT [FK_Customer_Order_Customer]
GO
ALTER TABLE [dbo].[Customer_Order]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Order_Order_Status] FOREIGN KEY([OrderStatus_ID])
REFERENCES [dbo].[Order_Status] ([OrderStatus_ID])
GO
ALTER TABLE [dbo].[Customer_Order] CHECK CONSTRAINT [FK_Customer_Order_Order_Status]
GO
ALTER TABLE [dbo].[Customer_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Order_Line_Customer_Order] FOREIGN KEY([Customer_Order_ID])
REFERENCES [dbo].[Customer_Order] ([Customer_Order_ID])
GO
ALTER TABLE [dbo].[Customer_Order_Line] CHECK CONSTRAINT [FK_Customer_Order_Line_Customer_Order]
GO
ALTER TABLE [dbo].[Customer_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Order_Line_Quotation_Line] FOREIGN KEY([Quotation_Line_ID])
REFERENCES [dbo].[Quotation_Line] ([Quotation_Line_ID])
GO
ALTER TABLE [dbo].[Customer_Order_Line] CHECK CONSTRAINT [FK_Customer_Order_Line_Quotation_Line]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Customer_Order] FOREIGN KEY([Customer_Order_ID])
REFERENCES [dbo].[Customer_Order] ([Customer_Order_ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Customer_Order]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Delivery_Address] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Delivery_Address] ([Address_ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Delivery_Address]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Order_Status] FOREIGN KEY([OrderStatus_ID])
REFERENCES [dbo].[Order_Status] ([OrderStatus_ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Order_Status]
GO
ALTER TABLE [dbo].[Design]  WITH CHECK ADD  CONSTRAINT [FK_Design_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Design] CHECK CONSTRAINT [FK_Design_Customer]
GO
ALTER TABLE [dbo].[Design]  WITH CHECK ADD  CONSTRAINT [FK_Design_Product_Type] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Design] CHECK CONSTRAINT [FK_Design_Product_Type]
GO
ALTER TABLE [dbo].[Design_Line]  WITH CHECK ADD  CONSTRAINT [FK_Design_Line_Design] FOREIGN KEY([Design_ID])
REFERENCES [dbo].[Design] ([Design_ID])
GO
ALTER TABLE [dbo].[Design_Line] CHECK CONSTRAINT [FK_Design_Line_Design]
GO
ALTER TABLE [dbo].[Design_Line]  WITH CHECK ADD  CONSTRAINT [FK_Design_Line_Job_Type] FOREIGN KEY([Job_Type_ID])
REFERENCES [dbo].[Job_Type] ([Job_Type_ID])
GO
ALTER TABLE [dbo].[Design_Line] CHECK CONSTRAINT [FK_Design_Line_Job_Type]
GO
ALTER TABLE [dbo].[Design_Line]  WITH CHECK ADD  CONSTRAINT [FK_Design_Line_Template_Position] FOREIGN KEY([Template_Position_ID])
REFERENCES [dbo].[Template_Position] ([Template_Position_ID])
GO
ALTER TABLE [dbo].[Design_Line] CHECK CONSTRAINT [FK_Design_Line_Template_Position]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Permission_Line]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Line_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permission] ([PermissionID])
GO
ALTER TABLE [dbo].[Permission_Line] CHECK CONSTRAINT [FK_Permission_Line_Permission]
GO
ALTER TABLE [dbo].[Permission_Line]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Line_User_Role] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[User_Role] ([UserRoleID])
GO
ALTER TABLE [dbo].[Permission_Line] CHECK CONSTRAINT [FK_Permission_Line_User_Role]
GO
ALTER TABLE [dbo].[Product_Type]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type._Product_Category] FOREIGN KEY([Product_Category_ID])
REFERENCES [dbo].[Product_Category] ([Product_Category_ID])
GO
ALTER TABLE [dbo].[Product_Type] CHECK CONSTRAINT [FK_Product_Type._Product_Category]
GO
ALTER TABLE [dbo].[Product_Type]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type._Template] FOREIGN KEY([Template_ID])
REFERENCES [dbo].[Template] ([Template_ID])
GO
ALTER TABLE [dbo].[Product_Type] CHECK CONSTRAINT [FK_Product_Type._Template]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_Customer]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Quotation-Status] FOREIGN KEY([Quotation_Status_ID])
REFERENCES [dbo].[Quotation-Status] ([Quotation_Status_ID])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_Quotation-Status]
GO
ALTER TABLE [dbo].[Quotation_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Line_Quotation] FOREIGN KEY([Quotation_ID])
REFERENCES [dbo].[Quotation] ([Quotation_ID])
GO
ALTER TABLE [dbo].[Quotation_Line] CHECK CONSTRAINT [FK_Quotation_Line_Quotation]
GO
ALTER TABLE [dbo].[Quotation_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Line_Quotation_Request_Line] FOREIGN KEY([Request_Line_ID])
REFERENCES [dbo].[Quotation_Request_Line] ([Request_Line_ID])
GO
ALTER TABLE [dbo].[Quotation_Line] CHECK CONSTRAINT [FK_Quotation_Line_Quotation_Request_Line]
GO
ALTER TABLE [dbo].[Quotation_Request]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Quotation_Request] CHECK CONSTRAINT [FK_Quotation_Request_Customer]
GO
ALTER TABLE [dbo].[Quotation_Request_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Line_Design] FOREIGN KEY([Design_ID])
REFERENCES [dbo].[Design] ([Design_ID])
GO
ALTER TABLE [dbo].[Quotation_Request_Line] CHECK CONSTRAINT [FK_Quotation_Request_Line_Design]
GO
ALTER TABLE [dbo].[Quotation_Request_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Line_Product_Size] FOREIGN KEY([Product_Size_ID])
REFERENCES [dbo].[Product_Size] ([Product_Size_ID])
GO
ALTER TABLE [dbo].[Quotation_Request_Line] CHECK CONSTRAINT [FK_Quotation_Request_Line_Product_Size]
GO
ALTER TABLE [dbo].[Quotation_Request_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Line_Product_Type] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Quotation_Request_Line] CHECK CONSTRAINT [FK_Quotation_Request_Line_Product_Type]
GO
ALTER TABLE [dbo].[Quotation_Request_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Line_Quotation_Request] FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Quotation_Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Quotation_Request_Line] CHECK CONSTRAINT [FK_Quotation_Request_Line_Quotation_Request]
GO
ALTER TABLE [dbo].[Quotation_Request_Line]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request_Line_Web_Link] FOREIGN KEY([Web_Link_ID])
REFERENCES [dbo].[Web_Link] ([Web_Link_ID])
GO
ALTER TABLE [dbo].[Quotation_Request_Line] CHECK CONSTRAINT [FK_Quotation_Request_Line_Web_Link]
GO
ALTER TABLE [dbo].[Return_Customer_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Return_Customer_Order_Line_Customer_Order_Line] FOREIGN KEY([Customer_Order_ID])
REFERENCES [dbo].[Customer_Order_Line] ([Customer_Order_Line_ID])
GO
ALTER TABLE [dbo].[Return_Customer_Order_Line] CHECK CONSTRAINT [FK_Return_Customer_Order_Line_Customer_Order_Line]
GO
ALTER TABLE [dbo].[Return_Customer_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Return_Customer_Order_Line_Return_Customer_Order] FOREIGN KEY([Return_Customer_Order_ID])
REFERENCES [dbo].[Return_Customer_Order] ([Return_Customer_Order_ID])
GO
ALTER TABLE [dbo].[Return_Customer_Order_Line] CHECK CONSTRAINT [FK_Return_Customer_Order_Line_Return_Customer_Order]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Web_Link] FOREIGN KEY([Web_Link_ID])
REFERENCES [dbo].[Web_Link] ([Web_Link_ID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Web_Link]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Quotation_Line] FOREIGN KEY([Supplier_Order_ID])
REFERENCES [dbo].[Quotation_Line] ([Quotation_Line_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Quotation_Line]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Supplier]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Supplier_Order_Status] FOREIGN KEY([Supplier_Order_Status_ID])
REFERENCES [dbo].[Supplier_Order_Status] ([Supplier_Order_Status_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Supplier_Order_Status]
GO
ALTER TABLE [dbo].[Supplier_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Line_Product_Type] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Supplier_Order_Line] CHECK CONSTRAINT [FK_Supplier_Order_Line_Product_Type]
GO
ALTER TABLE [dbo].[Supplier_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Line_Supplier_Order] FOREIGN KEY([Supplier_Order_ID])
REFERENCES [dbo].[Supplier_Order] ([Supplier_Order_ID])
GO
ALTER TABLE [dbo].[Supplier_Order_Line] CHECK CONSTRAINT [FK_Supplier_Order_Line_Supplier_Order]
GO
ALTER TABLE [dbo].[Template_Position]  WITH CHECK ADD  CONSTRAINT [FK_Template_Position_Position] FOREIGN KEY([Position_ID])
REFERENCES [dbo].[Position] ([Position_ID])
GO
ALTER TABLE [dbo].[Template_Position] CHECK CONSTRAINT [FK_Template_Position_Position]
GO
ALTER TABLE [dbo].[Template_Position]  WITH CHECK ADD  CONSTRAINT [FK_Template_Position_Template] FOREIGN KEY([Template_ID])
REFERENCES [dbo].[Template] ([Template_ID])
GO
ALTER TABLE [dbo].[Template_Position] CHECK CONSTRAINT [FK_Template_Position_Template]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Role] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[User_Role] ([UserRoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Role]
GO
USE [master]
GO
