
<body>
    <div class="open">
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <section>
        <img src="~/Content/Images/bnr.jpg" class="background">
        <div class="header">
            <h2 class="logo">KIMOSOURCE</h2>
            <ul>
        

                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="register" class="active">Sign-Up</a>
                </li>

            </ul>
        </div>
        <div class="bannerText">
            <h2>KimoSource</h2><br>
            <h3>Branding Made For You</h3>
            <p>*Brands*Embroidery*Print* Custom branding & Garment supplies</p>
            <a href="#">Read More</a>
        </div>

        <ul class="sci">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>


    </section>
</body>


