<div class="row align-items-center justify-content-center">

<div class="flex" style="margin-top: 80px;">
<label for="bcgshop">BCG Shop</label>
<button class="btn " style="margin-left: 30px;" onclick="window.location.href='https://kimosource.bcgshop.co.za/';">Visit</button>
<br>

<label for="proactive">Proactive CLothing</label>
<button class="btn "  style="margin-left: 30px;" onclick="window.location.href='https://www.proactiveclothing.com/';">Visit</button>
<br>

<label for="giftssa">Gift SA</label>
<button class="btn "  style="margin-left: 30px;" onclick="window.location.href='https://www.giftssa.co.za/';">Visit</button>
<br>

<label for="rolando">Rolando</label>
<button class="btn "  style="margin-left: 30px;" onclick="window.location.h0ref='https://rolando.co.za/';">Visit</button>
<br>

<label for="promoafrica">Promo Africa</label>
<button class="btn "  style="margin-left: 30px;" onclick="window.location.h0ref='https://rolando.co.za/';">Visit</button>
<br>  
</div>

</div>